/*body {
	background-color: #4d4d4c;
}*/

.container {
	background-color: #e7e7e7;
	padding-top: 1%;
}

.navbar {
	padding-top: 1%;
	padding-bottom: 1%;
}

.mycarousel {
	margin: 0 auto;
	width: 49%;
}

.panel-default {
	background-color: #f8f8f8;
}

.nav_item {
	width: 30%;
}

h1, h2, h3, h4 {
	color: green;
	font-family: "Arial Rounded MT Bold", sans-serif;
}

p {
	color: green;
}

.containerFoot {
	text-align: center;
}
